*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

core_data/build/

core_ui/build/

data_glose/build/

library_domain/build/

library_ui/build/

redux/build/
